* {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
}

.recent {
  display: flex;
  gap: 10px;
  align-items: center;
}

.refresh {
  width: 100px;
  height: 25px;
  background-color: #fff;
}

.refresh:hover {
  background-color: #ff5f1f;
  color: #fff;
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 50px;
  border-bottom: 2px solid #ff5f1f;
}

.score-form {
  display: flex;
  flex-direction: column;
  border: 2px solid #006994;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 15px;
}

#form {
  display: grid;
  grid-gap: 20px;
}

.board {
  display: flex;
  flex-direction: row;
  border: 2px solid;
  padding-left: 10px;
  gap: 5px;
}

.d-name {
  font-size: 10px;
  font-weight: bold;
}

#add {
  background-color: #fff;
}

#add:hover {
  background-color: #009900;
  color: #fff;
  cursor: pointer;
}

h1 {
  border-bottom: 2px solid #ff5f1f;
}

.scores {
  border: 2px solid #009900;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
